*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:  linear-gradient(45deg, #343333, #3a4d67)  ;
    font-family: sans-serif;
}

.container{
    max-width: 500px;
    height: 600px;
    background-color: white;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 20px;
    position: relative;
    
}

.header{
    margin-left: 30px;
    padding-top: 30px;
    width: 450px;
    height: 40px;
    display: flex;
    
}

.header input{
    width: 350px;
    height: 40px;
    border: 3px solid rgb(43, 128, 185);
    border-radius: 9px;
    font-size: 20px;
    padding: 10px;
}

.container #btn{
    width: 80px;
    height: 38px;
    margin-left: 10px;
    background-color:rgb(43, 128, 185) ;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

#pending{
    margin-top: 60px;
    margin-left: 28px;
}

h2{
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.completed{
    
    margin-top: 60px;
    margin-left: 40px;
}

ul{
    list-style: none;
}

ul li{
    width: 435px;
    padding: 10px;
    align-items: center;
    background-color:rgb(43, 128, 185) ;
    border-radius: 6px;
    margin: 10px 0;  
    height: 40px;
    counter-increment: my-counter;
    font-size: 25px;
}

ul li button{
    float: right;
    font-size: 23px;
    line-height: 20px;
    margin-right: 5px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    
}

ul.completed li{
    background-color: rgb(88, 198, 88);
    text-decoration: line-through;
}





